doctype html
html(lang='en')
  head
    title Hello, world!
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://bootswatch.com/4/lux/bootstrap.css', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/admin-panel.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      a.navbar-brand(href='#') Etudie CA! Admin
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/admin')
              | Status
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/admin/modules') Modules
          li.nav-item
            a.nav-link(href='#') Settings
          li.nav-item
            a.nav-link(href='#') Critical
          li.nav-item
            a.nav-link(href='#') Logout
    .container
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.second-nav
        a.navbar-brand(href='#') Modules
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation', style='')
          span.navbar-toggler-icon
        #navbarColor02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/admin/modules') Browse
            li.nav-item.active
              a.nav-link(href='/admin/modules/new') Create New
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Import
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(placeholder='Search', type='text')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
      .module.text-white.bg-primary
        .col-sm-12
          .row
            form(method='POST', action="/admin/modules/new")
              .form-group
                label(for='name') Name: 
                input.form-control(type='text',value=module.name, name='name', placeholder='Enter name')
              .form-group
                label(for='id') Unique ID
                input#id.form-control(value=module.id, type='text', name='id', placeholder='Enter ID')
                small.form-text.text-muted This ID is purely functional. Using an existing one will overwrite it.
              .form-group
                label(for='members') Member of
                select#members.form-control(name='members', multiple='')
                  option(disabled='', selected='', value='')  -- select any that apply -- 
                  each option in moduleGroups
                    if module.member.indexOf(option.id) !== -1
                      option(value=option.id)=option.name
                    else 
                      option(value=option.id, selected)=option.name
                small.form-text.text-muted Select all groups of which this module is part of
              .form-check
                label.form-check-label(for='description') Description
                textarea(name="description").form-control=module.description
                small.form-text.text-muted User-visible description of module
              .form-group
                label(for='seo') SEO: 
                input.form-control(type='text', value=module.seo, name='seo', placeholder='Enter tags')
                small.form-text.text-muted Enter searchable terms seperated by comas
              .form-group
                label(for='ownerName') Who is the author? 
                input.form-control(type='text', value=module.owner.name, name='ownerName', placeholder='Enter name')
              .form-group
                label(for='ownerGroup') What is the author group? 
                input.form-control(type='text', value=module.owner.group, name='ownerGroup', placeholder='Enter name')
              .form-check
                label.form-check-label
                  if module.draft
                    input.form-check-input(type='checkbox', checked='')
                  else
                    input.form-check-input(type='checkbox')
                    | Draft
                small.form-text.text-muted Hides module from users
              button.btn.btn-secondary(type='submit') Save
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
